language: node_js
before_script:
  - sleep 15
  - mongo mydb_test --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'
services:
  - mongodb
node_js:
  - "10"
  - "12"
  - "14"
  - "15"

sudo: false